<mat-stepper linear #stepper class="container">
  <mat-step [stepControl]="petTypeFormGroup">
    <form [formGroup]="petTypeFormGroup">
      <ng-template matStepLabel>Question 1</ng-template>
      <mat-label>Which pet to do you have ?</mat-label>
      <mat-radio-group class="radio-group" formControlName="petType" required>
        <mat-radio-button *ngFor="let type of petTypesList" [value]="type">
          {{type}}
        </mat-radio-button>
      </mat-radio-group>
      <div class="button-group">
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="petNameFormGroup">
    <form [formGroup]="petNameFormGroup">
      <ng-template matStepLabel>Question 2</ng-template>
      <mat-form-field class="full-width">
        <mat-label>What is the name of your pet ?</mat-label>
        <input matInput formControlName="petName" class="full-width" />
      </mat-form-field>
      <div class="button-group">
        <button mat-flat-button matStepperPrevious>Previous</button>
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="petExpenseFormGroup">
    <form [formGroup]="petExpenseFormGroup">
      <ng-template matStepLabel>Question 3</ng-template>
      <mat-label>How much do you spend per month for your pet’s food ?</mat-label>
      <mat-radio-group class="radio-group" formControlName="petExpense">
        <mat-radio-button *ngFor="let expense of petExpensesList" [value]="expense">
          {{expense}}
        </mat-radio-button>
      </mat-radio-group>
      <div class="button-group">
        <button mat-flat-button matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" (click)="handleSubmit()">Submit</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
